
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"href="css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> 
<style>
body{

background-image:  url("images/background-stripe-cream-v2.jpg");
}.msg-val{
  color : red;
   };
   
  .yellow{
background-color:#FFC733;
}

.red{
background-color:#EC334F;
}

</style>   
  </head>
  <body >
   <div ng-controller="ForumController as forumCtrl">
       <div class="container">
	<form name="forumForm" method="POST">
	    <table>
		<tr><td colspan="2">
		  <div ng-if="forumCtrl.flag != 'edit'">
		     
		  </div>
		  <div ng-if="forumCtrl.flag == 'edit'">
		     <!-- <h3> Update Forum for ID: {{ blogCtrl.blog.c_id }} </h3>  -->
		  </div> </td>
		</tr>
		
		<div class="form-group">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<label class="control-label" for="name">Title:</label> 
		        <input type="text" class="form-control" name="forumTitle" placeholder="Title" ng-model="forumCtrl.forum.forumTitle" required/> 
         	      <span ng-show="forumForm.forumTitle.$error.required" class="msg-val">Title is required.</span> 
			</div>
		</div>
		
		
		<div class="form-group">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<label class="col-md-1 control-label" for="name">Description:</label> 
		  	<textarea type="textarea" class="form-control" placeholder="Description" maxlength="140" rows="5" name="forumDescription" ng-model="forumCtrl.forum.forumDescription" required/> 
	        <span ng-show="forumForm.forumDescription.$error.required" class="msg-val">Description is required.</span> 
		</div>
		</div>
		
		
		<div class="form-group">
		<tr>
		     <td colspan="2"> <span ng-if="forumCtrl.flag=='created'" class="msg-success">Forum successfully added.</span>
		     <span ng-if="forumCtrl.flag=='failed'" class="msg-val">Forum already exists.</span> </td>
		</tr>
	        <tr><td colspan="2">
	            <div ng-if="forumCtrl.flag != 'edit'">
		       <input  type="submit" class="w3-btn w3-lime w3-round-xlarge" ng-click="forumCtrl.createForum()" value="Add Forum"/> 
		        <input type="button" class="w3-btn w3-light-green w3-round-xlarge" ng-click="forumCtrl.reset()" value="Reset"/>
		    </div>
		    <div ng-if="forumCtrl.flag == 'edit'">
		       <input  type="submit" class="w3-btn w3-orange w3-round-xlarge" ng-click="forumCtrl.updateForumDetail()" value="Update Forum"/> 	
			   <input type="button" class="w3-btn w3-lime w3-round-xlarge" ng-click="forumCtrl.cancelUpdate()" value="Cancel"/>				   
		    </div> </td>
		</tr>
		<tr>
		     <td colspan="2"> <span ng-if="forumCtrl.flag=='deleted'" class="msg-success">Forum successfully deleted.</span>
		</tr>
	    </table>        

	<br>
		<div class="panel panel-danger filterable yellow">
            <div class="panel-heading yellow">
                <h3 class="panel-title yellow">Forum List</h3>
                <div class="pull-right">
                    
                </div>
            </div>
            
            <table class="table table-hover yellow">
            <thead>
           <!--  <tr class="filters"> -->
	      <tr>
	      <!-- <th width="60">Forum ID </th> -->
                        <th width="120">Title</th>
                        <th width="120"> Description</th>
                        
                        <th width="60">Delete</th>
                        <th width="60">Edit</th>
                        <th width="60">Action</th>
	            
	      </tr>
	      </thead>
	      <tr ng-repeat="row in forumCtrl.forums">
	        <!--  <td><span ng-bind="row.c_id"></span></td> -->
	         <td><span ng-bind="row.forumTitle"></span></td>
	         <td><span ng-bind="row.forumDescription"></span></td>
	         <td>
		    <input type="button" class="w3-btn w3-indigo  w3-small" ng-click="forumCtrl.deleteForum(row.forumId)" value="Delete"/></td>
		    <td><input type="button" class="w3-btn w3-teal w3-round-small" ng-click="forumCtrl.edit(row.forumId)" value="Edit"/></td>
		     <td><input type="submit" ng-click="forumCtrl.viewForum(row.forumId)" data-toggle="modal" data-target="#myModal" class="btn btn-primary" value="View Forum"/></td>
		   
		     
		    <span ng-if="forumCtrl.flag=='updated' && row.forumId==forumCtrl.updatedId" class="msg-success">Forum successfully updated.</span> </td> 
	      </tr>	
	      
	      
	        <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Title: {{forumCtrl.viewforum.forumTitle}}</h4>
        </div>
        <div class="modal-body">
          <p>Description: {{forumCtrl.viewforum.forumDescription}}</p>
         
           </div>
           </br>
                        </tr>
			        </tbody>
			    </table> 		
           </div>
            Comment:
          <div ng-controller="ForumCommentController as forumCommentCtrl">
            <form class="form-horizontal" name="forumCommentForm" method="POST">
     			<input type="text" name="forumCommentContent" ng-model="forumCommentCtrl.forumcomment.forumCommentContent" class="form-control" placeholder="Enter comment" /><br>
     			<input type="submit" ng-click="forumCommentCtrl.addForumComment()" class="btn btn-primary" value="Add Comment"/>
            		<!-- No. of comments {{forumCommentCtrl.forumcomments.length}} -->
            </form>  
           </div>
           </br>
           
           <div ng-controller="ForumLikeController as forumLikeCtrl">
            <form class="form-horizontal" name="forumLikeForm" method="POST">
     			<input type="submit" ng-click="forumLikeCtrl.addForumLike()" class="btn btn-primary" value="Like"/>
     			No. of likes {{forumLikeCtrl.forumlikes.length}}
            </form>  
           </div>
           </br>
           
           <div ng-controller="ForumCommentController as forumCommentCtrl">
           <input type="submit" ng-click="forumCommentCtrl.fetchAllForumComments()" class="btn btn-primary" value="View comments"/>
           				No. of comments {{forumCommentCtrl.forumcomments.length}}</br>
           		
			        </br>
			        <tbody>
			            <tr ng-repeat="row in forumCommentCtrl.forumcomments">
			            	<!-- <td><span ng-bind="row.forumCommentId"></span></td> -->
				        	<td>User Id: <span ng-bind="row.id"></span></td>
				         	<td><span ng-bind="row.forumCommentContent"></span></td>
				         	<!-- <td><span ng-bind="row.forumId"></span></td> -->
			                <td><input type="submit" ng-click="forumCommentCtrl.deleteForumComment(row.forumCommentId)" class="btn btn-primary" value="Delete"/></td>
			            </tr>
			        </tbody>
			    </table> 		
           </div>
            
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="forumCtrl.close()" data-dismiss="modal">Close</button>
        </div>
        </div>
        </form>
 </body>
</html>  